/xpert-framework-base-web/faces-config.NavData
/xpert-framework-base-main/faces-config.NavData
/xpert-framework-base-main/target
/xpert-framework-base-ejb/target
/xpert-framework-base-ear/target
/xpert-framework-base-web/target
